{% extends "auth_layout.html" %}

{% block content %}
    <div class="login-card">
        <h1 id="form-title">Create Account</h1>
        <form method="POST" id="auth-form" class="ui form" action="{{ url_for('create_account') }}">
            <!-- Password -->
            <div class="field">
                <label for="password">Password:</label>
                <input type="password" name="password" required>
            </div>
            <!-- Confirm Password -->
            <div class="field">
                <label for="confirm_password">Confirm Password:</label>
                <input type="password" name="confirm_password" required>
            </div>
            <!-- Submit Button -->
            <button type="submit" class="ui primary button" id="submit-button">Create Account</button>
        </form>
        <!-- Flash Messages -->
        {% if flash %}
            <div class="ui {{ flash_level }} message">
                {{ flash }}
            </div>
        {% endif %}
    </div>
{% endblock %}