{% extends "login_layout.html" %}

{% block content %}
    <h1>First Time Login</h1>
    <form method="POST" action="{{ url_for('send_verification_email') }}">
        <label for="email">FIU Email:</label>
        <input type="email" name="email" placeholder="example@fiu.edu" required>
        <button type="submit">Send Verification Email</button>
    </form>
    <!-- Flash Messages -->
    {% if flash %}
        <div class="ui {{ flash_level }} message">
            {{ flash }}
        </div>
    {% endif %}
{% endblock %}